@{
    ViewData["Title"] = "Ochrona danych";
}
<h1>Ochrona danych@*@ViewData["Title"]*@</h1>
</br>
<div class="col-md-6">
<p>Nasza aplikacja dba o Twoją prywatność. Niezbędne dane, takie jak lista zakupów i dane konta, są przechowywane tylko w celu zapewnienia funkcjonalności aplikacji. Twoje dane nie są udostępniane osobom trzecim. Jeśli masz pytania lub potrzebujesz wsparcia, skontaktuj się z nami. Twoja prywatność jest dla nas ważna.</p>
</div>